<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.myapp.firstActivity" android:label="first_activity"/>
        <activity android:name="com.example.myapp.secondActivity" android:label="second_activity"/>
        <activity android:name="com.example.myapp.thirdActivity" android:label="third_activity"/>
        <activity android:name=".editTextActivity" android:label="editTextActivity"/>
        <activity android:name=".webViewActivity" android:label="webViewActivity"/>
    </application>

</manifest>
